.app {
  display: grid;
  justify-items: center;
  gap: 16px;
  grid-template-columns: repeat(5, 1fr);
}

.app div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 4px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  /* color: #696969; */
  padding: 16px 0px;
}
